<html>
<head>
	<title><%= event.title %></title>
	<meta name="description" content="<%= event.description %>">
	<meta name="keywords" content="<%= event.keywords %>" />
	<link rel="stylesheet" href="ol-3.1.1.css">
	<link rel="stylesheet" href="main.css">
	<script src="jquery-2.1.3.min.js"></script>
	<script src="ol-3.1.1.js"></script>
	<script src="main.js"></script>
</head>
