<html>
<head>
	<title>Event</title>
</head>
<body>
<div id="event">
	Event info
</div>
<div id="registration">
<h2>Registration</h2>
<form action="<%= basepath %>/register" method="POST">
<input type="text" name="name" placeholder="Name you want to show (optional)"><br>
<input type="text" name="email" placeholder="Enter email address which you want to subscribe"><br>
<input type="submit">Register</button><br>
</form>
</div>
<div id="removal">
<h2>Removal</h2>
<form action="<%= basepath %>/remove" method="POST">
<input type="text" name="email" placeholder="Enter email address you want to remove"><br>
<input type="submit">Remove</button><br>
</form>
</div>
<div id="listing">
</div>
</body>
</html>
