<% include header %>
<body>
<div id="wrapper">
<div id="event" itemscope="" itemtype="http://schema.org/Event">
	<h1 itemprop="name"><%= event.title %></h1>
	<p>El <em>divendres 27 de febrer</em> tindrà lloc la primera <strong>Viquimarató Bioinformàtica</strong> per tal de millorar els <a href="https://ca.wikipedia.org/wiki/Viquiprojecte:Bioinform%C3%A0tica">continguts de Bioinformàtica</a> i disciplines afins (<em>genòmica</em>, <em>proteòmica</em>, etc.) a la Viquipèdia en català.</p>
	<p><strong><a href='https://ca.wikipedia.org/wiki/Viquip%C3%A8dia:Viquimarat%C3%B3_Bioinform%C3%A0tica_2015'>Més informació...</a></strong></p>
	<%if (event.start) { %><strong>Inici:</strong> <span class="date-start" itemprop="startDate"><%= event.start %></span><% } %>
	<%if (event.end) { %><strong>Final:</strong> <span class="date-end" itemprop="endDate"><%= event.end %></span><% } %>

	<div id="location" itemscope="" itemprop="location" itemtype="http://schema.org/Place">
		<%if (event.location.name) { %><p itemprop="name"><%- event.location.name %></p><% } %>
		<%if (event.location.address) { %><p itemprop="address"><%= event.location.address %></p><% } %>
		<%if (event.location.coordinates) { %>
				<div id="map" data-coords="<%= event.location.coordinates %>"></div>
		<% } %>
	</div>
	<h4>Què cal portar-hi?</h4>
	<ul>
		<li>Un ordinador portàtil per poder editar a la Viquipèdia des d'allà</li>
	</ul>
	<h4>Gràcies a:</h4>
	<ul>
		<li><em>Secció de Biologia Computacional i Bioinformàtica</em>, <a href="http://scb.iec.cat">Societat Catalana de Biologia</a></li>
		<li><a href="http://www.wikimedia.cat/">Amical Wikimedia</a></li>
		<li><a href="http://www.crg.eu">Centre de Regulació Genòmica</a></li>
	</ul>
</div>
<div id="action">
<div id="registration">
<h2>Inscripció</h2>
<form action="<%= basepath %>/register" method="POST">
<input type="text" name="name" placeholder="Nom a mostrar (opcional)"><br>
<input type="text" name="email" placeholder="Adreça electrònica"><br>
<input type="submit" value="Registre"><br>
</form>
</div>
<div id="removal">
<h2>Desinscripció</h2>
<form action="<%= basepath %>/remove" method="POST">
<input type="text" name="email" placeholder="Adreça electrònica"><br>
<input type="submit" value="Suprimeix"><br>
</form>
</div>
<div id="list">
</div>
</div>
</div>
<% include footer %>
</body>
</html>
