<html>
<head>
	<title>Event - Registration</title>
</head>
<body>
<div>
<%if (done) { %>
<p>You've just verified your address!</p>
<% } else { %>
<%if (verified) { %>
<p>You're already registered!</p>
<% } else { %>
You just registered with <%= email %>.
<%if (previous) { %>
<p>You registered a few other times. Please verify the last email you should receive shortly.</p>
<% } else { %>
<p>Please verify the email you should receive shortly.</p>
<% } %>
<% } %>
<% } %>
</div>
<% include footer %>
</body>
</html>
