<% include header %>
<body>
<div id="wrapper" class="nomain">
<%if (done) { %>
<p>Heu verificat l'adreça!</p>
<% } else { %>
<%if (verified) { %>
<p>Ja us heu registrat! Si voleu canviar cap preferència, cancel·leu la inscripció abans i torneu a inscriure-us.</p>
<% } else { %>
Us acabeu de registrar amb l'adreça <%= email %>.
<%if (previous) { %>
<p>Ja us havíeu registrat altres vegades. Reviseu el darrer missatge que hauríeu de rebre en breu.</p>
<% } else { %>
<p>Reviseu el darrer missatge que hauríeu de rebre en breu.</p>
<% } %>
<% } %>
<% } %>
</div>
<div id="back"><a href="<%= basepath %>">Enrere</a></div>
<% include footer %>
</body>
</html>
