/** Less content below **/

body {
	max-width: 1020px;
	margin: 0 auto 2em;
}

#wrapper {
	float: left;
	clear: both;
}

#nomain {
	margin-top: 2em;
}

#event {
	float: left;
	max-width: 700px;
	#location {
		margin: 1em 0;
		width: 100%;

	}
}

#registration {
	border-top: 1px solid grey;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 1em;
}

#map {
	padding: 1em 0;
	height: 300px;
}

.date-start, .date-end {
	text-decoration: underline;
}

#action {
	margin-top: 5em;
	margin-left: 2em;
	float: left;
	max-width: 220px;
}

#list li{
	font-size: 85%;
}

#back {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 1em;
}

footer {
	width: 100%;
	clear: both;
	max-width: 900px;
	border-top: 1px dashed #A9A9A9;
	padding-top: 0.5em;
	
	ul#organizers {
		margin: 3em auto 1em auto;
		li.organizer {
			display: inline;
			list-style-type: none;
			padding-right: 2em;
			img {
				border: none;
			}
		}
	}
	p {
		margin: 0 2em;
		font-size: 85%;
		line-height: 1.2em;
	}
}
